html {
    font-family: 'Poppins', sans-serif;
}

.whole {
    display: inline-block;
}

.profilepic {
    border-radius: 60%;
    width: 250px;
    height: 250px;
}

#header {
    float: left;
    width: 30%;
    background-color: rgb(51, 161, 64, );
    margin-left: 10px;
}

#nav a {
    display: block;
    text-decoration: none;
}