        #section1 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }
        
        #section2 {
            text-align: center;
        }
        
        #Skills {
            display: flex;
            flex-direction: row;
        }
        
        #Skills img {
            width: 150PX;
            height: 130px;
        }
        
        #Skills>div {
            width: 25%;
            margin-left: 10px;
            background-color: rgb(255, 255, 255);
            padding: 10px;
            border: 1px solid gray;
        }
        
        a:hover {
            font-size: 24px;
            background-color: rgb(180, 7, 94);
        }
        
        #Skills p:hover {
            background-color: rgb(241, 233, 237);
        }